.form-control {
    width: 100%;
}

.form-invalid {
    color: #ff0000;
    font-style: italic;
}

.todo-item {
    display: flex;
    justify-content: space-between;
}

.todo-item input {
   width: 40px;
   height: 40px;
   border-radius: 50%;
   font-size: 36px;
}

.todo-item input[type=checkbox]:checked::after {
    top: 0.08em;
}

.todo-item label {
    font-size: 2rem;
    padding-left: 8px;
}

.todo-info{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

input + label {
    cursor: pointer;
}

input:checked + label {
    text-decoration: line-through 16px rgba(255, 0, 0, 0.4);
}

input.disabledButton {
    color: black;
}

.todo-item-display {
    flex-grow: 0;
    flex-grow: 0;
    flex-basis: 80%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.todo-item-action {
    flex-basis: 100px;
}

@media screen and (max-width: 600px) {
    html {
        font-size: 13px;
    }
    
    .todo-item input {
        font-size: 1.15rem;
    }
  }